.topbarContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.topbarContainer a {
    color: var(--blue);

    cursor: pointer;
}