.container {
    height: 100vh;
    max-width: 922px;
    margin: 0 auto;
    padding: 80px 2rem 2.5rem 2rem;

    display: flex;
    flex-direction: column;

    position: relative;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}